body{
    background:#000;
}

/* FOOTER TOP */
#footer {
    padding: 1em 1.5em;
} /* padding lateral e superior, para não ficar colado*/

#footer-top {
    margin-bottom: 0.5em;
} /*separa o conteúdo do meio */

#footer-top,
#footer-top i {
    color: #fff;
} /* Tudo que estiver nesse footer-top de texto tera uma cor especifica*/

#social-icons {
    text-align: right;
} /* Como os icones são fonte de texto, eu consigo jogar eles para a direita utilizando text-align: right */

#social-icons i {
    margin-right: 1em; /*espaçando os icones */
    font-size: 1.5em; /*temanho deles */
    cursor: pointer; /* para lincar com a rede social */
}

#social-icons i:hover {
    color: #7a7a7a;  /* qnd o mouse passar pelo icone */
}
 /*/Footer top */


/* FOOTER DETAILS*/

#footer-details {
    margin-bottom: 0em;
} /*Separar do conteúdo que vem a baixo*/

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
} /* para o mobile*/

#footer-details h4{
    color: #FFF;
    margin-bottom: 1.5em; /* Espaço do conteúdo que está a baixo do titulo*/
} /*titulo do footer/

#news-container input {
    border-radius: 0;
    border: none;
} /* */

#link-container li{
    margin-bottom: 0.5em;
} /* afastando os links para que o usuario possa clicar de forma melhor*/

#link-container a {
    text-decoration: none;
}/*tirar qualquer decoração que tenha no link */

#link-container a:hover {
    color: #fff;
} /*deixa o houver visto */


/* FOOTER BOTTOM */

#footer-botoom {
    border-top: 1px solid #a7a7a7;
    padding-top: 2em;
} /*linha para divião do conteúdo de forma horizontal */

#footer-botoom i {
    color: #e61e10; /* icone de coração*/
    margin-left: 0.3em; /* afastar do texto */
} 

@media(min-width: 768px){ /*(min-width: 768px)representa web, que será do menor para o*/

    #news-container {
        padding-right: 2em; /* conteúdo do meio*/
    }
    #links-container {
        padding-left: 2em; /* espaçando o conteúdo que está no canto direto*/
    }
    #news-container {
        padding: 0 2em; /* realizando a divisão entre os lados*/
        border-left: 1px solid #7a7a7a; /* colocando uma divisão entre os lados*/
        border-right: 1px solid #7a7a7a;
    }
} /* */
 /* */ 
 
