

<div class="contaniner-fluid container1">
    <div class="row">
    <div class="col-12">
<div class="body mt-2">
<div class="container1">
    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/sem-plastico.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>



    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/lixo-toxico.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>





    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/comida-organica.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/bateria.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/caminhao-de-lixo.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>









    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/hospital.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    


</div></div></div></div></div>