<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
<div class="height"></div>      <div class="cards">
<div *ngFor="let itemmm of listaTrends">
    <div class=".body">
  
            <div class="card contact">
                <div class="icon">
                    <img src="{{itemmm.fotoLink}}" alt="Contact us.">
                </div>
                <h3>{{itemmm.descricao}}</h3>
                <span>{{itemmm.textoTema}}</span>
                <button>Learn More</button>
            </div>
           
         </div></div></div><div class="height"></div>  </div>
    </div>
         
    </div>















<!-- 

<div class="contaniner-fluid">
    <div class="height"></div>
    <div class="row">
        <div class="col-2"></div>
    <div class="col-10">
<div class="body mt-2">
<div class="container1">
    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/sem-plastico.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>



    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/lixo-toxico.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>





    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/comida-organica.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/bateria.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/caminhao-de-lixo.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>









    <div class="card1">

        <div class="imgbox">
            <img src="assets/img/hospital.png" alt="">
        </div> 
        <div class="content">
            <h2>card1 One</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut earum pariatur, ipsam natus saepe recusandae mollitia provident, quasi ex ullam amet debitis sequi incidunt? Enim rem quis odit asperiores perspiciatis.</p>
        </div>       

    </div>








    


</div></div></div></div></div> -->