
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
          
        </div>
       
        </div>
        
    </div>
    <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-flex w-100" src="assets\img\Obrigado por acessar o suporte E-coleta (7).png" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img class="d-flex w-100" src="assets\Orcas in Focus (1).png" alt="Segundo Slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
    </div>
    <br>
    <br>
    
   

    <div class="container-group d-lg-flex">
      <div class="container justify-content-sm-around">
        <div class="jumbotron">
          <div class="justify-content-lg">
            <h1 class="display-10">Atendimento E-coleta</h1>
          <p class="lead">atendimento ágil usando seu WhatsApp</p>
          <p>Entre em contato conosco! e converse com nossa equipe. Obrigado!</p>
          <a class="btn btn-success col-lg-8 d-flex-center" href="http://api.whatsapp.com/send?phone=5519996792460" role="button">central de atendimento E-coleta</a>
          
        </div>
          </div>
        </div> 
<!-- 
          <div class="container-group d-flex box">
            <div class="col-sm-1 d-flex justify-content-flex box">
          
                
               <div class="row-fluid justify-content-flex box">
                <div class="card">
                  <img src="https://avatars.githubusercontent.com/u/79062281?v=4" class="img-thumbnail rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                  <div class="card-body">
                    <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                    <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                    <h5 class="card-title">Mayara Machado</h5>
                    <p class="card-text">ola
                    </p>
                  </div>
                </div>
              </div>
              
    
               <div class="row-group justify-content-flex box">
                <div class="card">
                  <img src="https://avatars.githubusercontent.com/u/63822714?v=4" class="img-thumbnail rounded-circle" alt="Eventos">
                  <div class="card-body">
                    <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                    <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                    <h5 class="card-title">Vinicius Barreto</h5>
                    <p class="card-text">ola
                    </p>
                  </div>
                </div>
              </div>
                
    
                  <div class="row-group justify-content-flex box ">
                    <div class="card">
                      <img src="https://avatars.githubusercontent.com/u/56212999?v=4" class="img-thumbnail rounded-circle" alt="Eventos">
                      <div class="card-body">
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                      <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                        <h5 class="card-title">Maicon Bonfim</h5>
                        <p class="card-text">ola
                        </p>
                      </div>
                    </div>
    
                </div>
              </div>
            </div> -->

          

            <div class="row">
                <div class="col-sm-2 col-md">
                  <div class="card">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/79062281?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">

                        <h6 class="card-title">Mayara Machado</h6>
                        <p class="card-text">
                          <a href="https://www.linkedin.com/in/mayaramachado-08/" class="btn btn-outline-success">linkedin</a>
                        </p>
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                      </div>
                    

                  </div>
                  
    
                </div>
                <div class="col-sm-2 col-md">
                  <div class="card">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/63822714?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                        <h6 class="card-title">Vinicius Barreto</h6>
                        <p class="card-text">
                          <a href="https://www.linkedin.com/in/vinicius-barreto-09986b220/" class="btn btn-outline-success">linkedin</a>
                        </p>
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                      </div>
                  </div>

    
                </div>
                
                <div class="col-sm-2 col-md">
                  <div class="card">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/88194763?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                        <h6 class="card-title">Marcus Vinicius</h6>
                        <p class="card-text">
                          <a href="https://www.linkedin.com/in/marcus-vin%C3%ADcius-gomes-b9503371/" class="btn btn-outline-success">linkedin</a>
                        </p>
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                      </div>
                  </div>

    
                </div>

                  
                <div class="col-sm-2 col-md">
                  <div class="card">
                    <div class="card-body">
                        <img src="https://avatars.githubusercontent.com/u/56212999?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                        <h6 class="card-title">Maicon Bonfim</h6>
                        <p class="card-text">
                          <a href="https://www.linkedin.com/in/maiconbonfim-dev" class="btn btn-outline-success">linkedin</a>
                        </p>
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                        <p>Front-end developer</p>
                      </div>
                  </div>

               
                </div>
              </div>
      </div>

    

    

  
   