<div class="container-fluid">
  <div class="row">
      <div class="col-3">
      </div>
      <div class="col-9">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets\img\suporte E-coleta.gif" alt="Primeiro Slide">
            </div>
          </div>
        </div>



        <div class="container-fluid">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="assets\img\suporte E-coleta.png" alt="Primeiro Slide">
            </div>
          </div>
        </div>
        </div>
        <br>
        <br>
        
       
      
        <div class="container-group d-lg-flex">
          <div class="container justify-content-sm-around">
            <div class="jumbotron border border-success">
              <div class="justify-content-lg">
                <h1 class="display-10">Atendimento E-coleta</h1>
              <p class="lead">atendimento ágil usando seu WhatsApp</p>
              <p>Entre em contato conosco! e converse com nossa equipe. Obrigado!</p>
              <div class="botaow">
                <a class="btn btn-success col-lg-8 d-flex-center" href="http://api.whatsapp.com/send?phone=5519996792460" role="button">central de atendimento E-coleta</a>

              </div>
              
              
            </div>
              </div>
            </div> 
      <!-- 
              <div class="container-group d-flex box">
                <div class="col-sm-1 d-flex justify-content-flex box">
              
                    
                   <div class="row-fluid justify-content-flex box">
                    <div class="card">
                      <img src="https://avatars.githubusercontent.com/u/79062281?v=4" class="img-thumbnail rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                      <div class="card-body">
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                        <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                        <h5 class="card-title">Mayara Machado</h5>
                        <p class="card-text">ola
                        </p>
                      </div>
                    </div>
                  </div>
                  
        
                   <div class="row-group justify-content-flex box">
                    <div class="card">
                      <img src="https://avatars.githubusercontent.com/u/63822714?v=4" class="img-thumbnail rounded-circle" alt="Eventos">
                      <div class="card-body">
                        <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                        <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                        <h5 class="card-title">Vinicius Barreto</h5>
                        <p class="card-text">ola
                        </p>
                      </div>
                    </div>
                  </div>
                    
        
                      <div class="row-group justify-content-flex box ">
                        <div class="card">
                          <img src="https://avatars.githubusercontent.com/u/56212999?v=4" class="img-thumbnail rounded-circle" alt="Eventos">
                          <div class="card-body">
                            <div><img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/></div>
                          <div><img src="https://img.icons8.com/clouds/50/000000/github.png"/></div>
                            <h5 class="card-title">Maicon Bonfim</h5>
                            <p class="card-text">ola
                            </p>
                          </div>
                        </div>
        
                    </div>
                  </div>
                </div>
              
              <img src="https://avatars.githubusercontent.com/u/79062281?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
              
              
              https://avatars.githubusercontent.com/u/56212999?v=4
              https://www.linkedin.com/in/maiconbonfim-dev"
              
              -->
      
              
      
                <div class="row">
                  
                  <div class="col-sm-2 col-md">
                    <div class="card border border-success">
                      <div class="card-body border border-success">
                        <img src="https://avatars.githubusercontent.com/u/79062281?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                          <h6 class="card-title">Mayara Machado</h6>
                          <p class="card-text">
                            <a href="https://www.linkedin.com/in/mayaramachado-08/" class="btn btn-outline-success">linkedin</a>
                            <img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/>
                            
                          </p>
      
                          <div>
      
                            <!-- <img src="https://img.icons8.com/color/30/000000/html-5--v1.png"/>
                            <img src="https://img.icons8.com/color/30/000000/css3.png"/>
                            <img src="https://img.icons8.com/color/30/000000/javascript--v1.png"/>
                            <img src="https://img.icons8.com/ios-filled/30/000000/angularjs.png"/>
                            <img src="https://img.icons8.com/color/30/000000/spring-logo.png"/>
                            <img src="https://img.icons8.com/ios/30/000000/mysql-logo.png"/> -->
                            
                            </div>
                          <p>Full-Stack developer</p>
                        </div>
                    </div>
      
      
                  </div>
      
      
                   
                    <div class="col-sm-2 col-md">
                      <div class="card border border-success">
                        <div class="card-body border border-success">
                            <img src="https://avatars.githubusercontent.com/u/63822714?v=4" class="img-thumbnail-fluid rounded-circle" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                            <h6 class="card-title">Vinicius Barreto</h6>
                            <p class="card-text">
                              <a href="https://www.linkedin.com/in/vinicius-barreto-09986b220/" class="btn btn-outline-success">linkedin</a>
                              <img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/>
                            </p>
      
                            <div>
      
                              <!-- <img src="https://img.icons8.com/color/30/000000/html-5--v1.png"/>
                              <img src="https://img.icons8.com/color/30/000000/css3.png"/>
                              <img src="https://img.icons8.com/color/30/000000/javascript--v1.png"/>
                              <img src="https://img.icons8.com/ios-filled/30/000000/angularjs.png"/>
                              <img src="https://img.icons8.com/color/30/000000/spring-logo.png"/>
                              <img src="https://img.icons8.com/ios/30/000000/mysql-logo.png"/>
                               -->
                              </div>
                            <p>Full-Stack developer</p>
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-2 col-md">
                      <div class="card border border-success">
                        <div class="card-body border border-success">
                            <img src="https://avatars.githubusercontent.com/u/56212999?v=4" class="img-thumbnail-fluid rounded-circle =" alt="suporte" class="img-thumbnail rounded-circle" alt="Eventos">
                            <h6 class="card-title">Vinicius Barreto</h6>
                            <p class="card-text">
                              <a class href="https://www.linkedin.com/in/maiconbonfim-dev"class="btn btn-outline-success">linkedin</a>
                              <img src="https://img.icons8.com/clouds/50/000000/linkedin.png"/>
                            </p>
                            
                            <div>
      
                              <!-- <img src="https://img.icons8.com/color/30/000000/html-5--v1.png"/>
                              <img src="https://img.icons8.com/color/30/000000/css3.png"/>
                              <img src="https://img.icons8.com/color/30/000000/javascript--v1.png"/>
                              <img src="https://img.icons8.com/ios-filled/30/000000/angularjs.png"/>
                              <img src="https://img.icons8.com/color/30/000000/spring-logo.png"/>
                              <img src="https://img.icons8.com/ios/30/000000/mysql-logo.png"/>
                               -->
                              </div>
                            <p>Full-Stack developer</p>
                          </div>
                      </div>
                    </div>
          </div>
      </div>
      </div>
  </div>
  

  