
<section class="header-site">
    <div class="container">
        <div class="row d-flex justify-content-center ">
            <!--(d-flex justify-content-center) Deixou o código centralizado -->
            <div class="col-xs-12 ">
                <h1 class="text-center ">Nós fazemos a diferença</h1>
                <p class="lead text-center"></p>
                <p class="text-center">
                <a href="#" class="btn btn-danger">Home</a>
            </p>
            </div>
        </div>
    </div>    
</section>



<section>
    <div class="container">
        <div class="row">
            <h1>Missão</h1>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <h1>Visão</h1>
        </div>
    </div>
</section>


<section class="content-site">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center ">
            <!--(d-flex justify-content-center) Deixou o código centralizado -->
            <div class="col-xs-12 ">
                <h1 class="text-center">Valor</h1>
                <p class="text-center">
                    Porque não evitar o problema antes mesmos dele surgir? 
                    Agindo de forma preventiva podemos fazer muito!
                    Não deixe que os lixos cheguem aos oceanos ralializando seu descarte conciente e de forma adequada.
                    
                </p>
            </div>
        </div>
        <div class="container-fluid ">
        <div class="row ">
            <!-- As col precisam estar dentro dessa row para que elas fiquem uma ao lado da outra -->
            <div class="col-4">
                <div class="thumbnail">
                    <img src="https://avatars.githubusercontent.com/u/79062281?s=400&u=328f3957e5112eb234e513d18f8e33eccb10ca7b&v=4" alt="">
                    <div class="caption text-center">
                        <h3>Juntos </h3>
                        <p> Somos todos fortes </p>
                    </div>
                </div>
            </div>
       
            <!-- <div class="row  justify-content-center"> -->
            <div class="col-4">
                <div class="thumbnail">
                    <img src="https://avatars.githubusercontent.com/u/63822714?v=4" alt="">
                    <div class="caption text-center">
                        <h3>Juntos</h3>
                        <p> Vamos melhorar os planeta para as futuras gerações </p>
                    </div>
                </div>
            <!-- </div> -->
            </div>
            <!-- <div class="row row justify-content-end"> -->
            <div class="col-4">
                <div class="thumbnail">
                    <img src="https://avatars.githubusercontent.com/u/56212999?v=4" alt="">
                    <div class="caption text-center">
                        <h3>Juntos </h3>
                        <p> Vamos cuidar de quem cuida da gente!</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- </div> -->
    </div>
</section>


<section class="img-site">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-xs-12 ">
                <h1 class="text-center ">Se cada um fizer sua parte</h1>
                <h2 class="lead text-center">Preservando a natura!</h2>
                
            </div>
        </div>
    </div>
</section>


<!-- Footer -->

<app-rodape></app-rodape>

