.grid{
    margin: 80px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    align-items: center;
}
.grid > article{
    background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;transition: transform .3s;

}
.grid > article:hover{
    transform: translateY(5px);
    box-shadow:2px 2px 26px 0px rgba(0,0,0,0.3);

}

.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text{
    padding: 0 20px 20px;
}
.text h3{
    text-transform: uppercase;  
}
.text button{
    background:#ef6f6c;
    border-radius:20px;
    border:none;
    color:#fff;
    padding:10px;
    width:100%;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

@media(max-width:768px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid > article{
        text-align: center;
    }
}
.height{
    height: 20px;
}























