
.body{
    background-color: hsl(110, 66%, 94%);
    height: 100%;
 }
 
 .card{
   
    min-height: 20rem;
 }
 @media(max-width:1500px){
 
 }
 
 .card{
     width: 100%;
   
 }
 
 .separacao{
     height: 1rem;
 }
 
 .card-cinza{
 
     border-radius: 15px;
     min-height:3rem;
     border: solid 1px hsl(110, 66%, 94%); ;
     width: 80%;
 }
 .centralizar-card{
    
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .card11{ 
     background:white;
  
     border-radius: 15px;
 
 }
 .foto{
     border-radius: 50px;
     margin-top:1rem;    
     margin-left: 1rem;
 }
 i{
     font-size:1.5rem;  
     display: flex;
     margin-top:0.2rem ;
    color: #18fc10
 }
 
 .box-dos-icons{
     margin-top:1rem
 } p{
     margin-top: 1.2rem;
     font-size: 0.7rem;
 }
 
 .separacao-boxs{
     height:3%
 }
 .postagens-amigos{
     width: 100%;
     background:white;
     border-radius: 15px;
     box-shadow: 3px 3px 3px 3px #0de76f;

 
 }
 .nome-amigo{
     margin-top:0.3rem;
    
     font-family:bold;
 }
 .imagem-amigo{
     width: 100%;  
      margin-left:15rem;
 }
 .cotainer-imagem-amigo{
     display: flex;
     justify-content: center;
   
     width: 10rem;  
 }
 
    a {
     background: linear-gradient(to right, #0981a6, #4de7c1);
     color: white;
     border: white;
    }
    .card-cinza{
        height: 1rem;
    }

    .separar{
        height:1rem;
    }

    .box-input{
        width:100%;   
        background:white;
        /* margin-right: 1rem; */
        border-radius:10px;

   }
   .input{
    margin-top: 1rem;
     width:20rem;
      font-size:10px;
      border-radius: 10px;
 }

 .name-friend{
    font-size: 17px ;
    font-family: 'Roboto bold', sans-serif;
}
.text-friends{
    font-size:20px;
}
.pessoas{
    color: black;
}

@media(max-width:768px){
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .grid > article{
        text-align: center;
    }
}

.botaoModalSave{
    background:linear-gradient(to right, #0981a6, #4de7c1);
    color: #fff;
    border:white ;
    border-radius:20px;
}
.botaoModalCancelar{
    background:linear-gradient(to right,#ee102e, #dd9492e1) ;
    color: white;
    border:white;
    border-radius: 20px;
}
.altura{
    height:10px
}