<!-- container(utilizando o Bootstrap no container, Transforma as Divs em colunas que tem dentro do container.) -->
<div class="container-fluid"> 


    <div class="row d-flex align-items-center"> <!---->
    
        <!-- Para ficar centralizado no meio da pagina, tem que ser o alinhamento vertical. eu quero que duas col fiquem nesse alinhamento. usando o d-flex align-items-center. -->
        <div class="col-md-6 col-xs-3  ">

            <div class="row d-flex justify-content-center"> <!--Tudo que estiver dentro dessa row, eu vou querer centralizado.-->
                <div class="col-md-6 col-xs-6 ">
                    
                    <h1 class="text-center mb-3">Sejam bem vindos(as) !</h1>
                        <!-- Todo código que estiver com um asteristico representa o código da caixa que o usuario precisa digitar seu nome. E ela precisa estar dentro desse <h1>-->
                        

                            <hr class="mt-5 mb-5"> <!--Linha que separa o conteúdo-->

                                <div class="d-flex justify-content-center">
                                <button type="submit " class="btn btn-danger col-xs-4 col-sm-6">Entrar</button>
                                </div>
                                <br>                             
                                
                                <div class="d-flex justify-content-center">
                                    <button type="submit " class="btn btn-success col-xs-4 col-sm-6">Cadastre-se</button>
                                </div>


                    
                        <!--
                        <p class="text-center">
                            Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se"></a> </p> -->
                                                <!-- routerLink=(Toda vez que o usuario clicar em cadastre-se , ele vai para rota cadastrar.) -->
                        

                </div>


            </div>

        </div>
    
        <div class="col-md-6" id="img-fluid"></div>
    </div>
</div>





<!--posição : absoluta ;  //  position: absolute;
largura : 152px ;         //  width: 152px;
altura : 40px ;           //  height: 40px;
esquerda : 100px ;        //  left: 100px;
superior : 526px ;        //  top: 526px;
-->

<!-- style="backgroud-color: "  -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->

<!--    -->