#img-fluid{
    background-image: url(../../assets/img/Recycling-rafiki.png);

    min-height: 695px;

    background-attachment: absolute; /* background-position(define como e onde a imagem de fundo é posicionada) */
                        /* absolute - (Permite o posicionamento do elemento em qualquer lugar da página, nesse caso da imagem.) */
    background-repeat: no-repeat; /* background-repeat(Estabelece se uma imagem de plano de fundo será repetida ou não.) */
    background-size: cover;
}
/* 
position: absolute; 
width: 141px;
height: 40px;
left: 108px;
top: 581px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

color: #000000; */





/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */
