<div class="container-fluid barra">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#"><i class="fas fa-home"></i>Home</a>
  </li>
 
  <li class="nav-item"  >
    <a class="nav-link" routerLink='/myposts' href="#"><i class="fas fa-address-card" ></i>Minhas postagens</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/suporte' href="#"><i class="fas fa-phone-square-alt"></i>Contate-nos</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" routerLink='/eventos' href="#"><i class="fas fa-recycle"></i>Eventos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-cogs"></i>Configurações</a>
  </li>
</ul>
</div>