<div class="container-fluid barra">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active"routerLink='/inicio'><i class="fas fa-home"></i>Home</a>
  </li>
 
  <li class="nav-item"  >
    <a class="nav-link" routerLink='/myposts' href="#"><i class="fas fa-address-card" ></i>Minhas postagens</a>
  </li> 
  <li class="nav-item ">
    <a class="nav-link" routerLink='/eventos' ><i class="fas fa-calendar-week"></i>Eventos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/suporte' href="#"><i class="fas fa-phone-square-alt"></i>Contate-nos</a>
  </li>

</ul>
</div>