<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#"><h4>Contato</h4></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <a class="navbar-brand" href=""><img class="br-50 wh-300" src="https://img.icons8.com/material-rounded/96/000000/user-male-circle.png" alt="img"></a>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"></a>
                    </li>
                    <div>
                        <ul id="menu">
                            <li>
                                <a href="contato.html">  Voltar para página inicial</a>
                            </li>
                        </ul>
                    </div>  
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <a href="https://www.instagram.com/" target="_blank" class="p-30">
                        <img class="tm-social" src="https://img.icons8.com/clouds/100/000000/apple-phone.png" alt="Logo do Intagram"> 
                        </a>  
                    </form>
                    

                    
            </div>
            </nav>
        </div>
            <br><br><br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
              
                <div class="carousel-item">
                  <img src="assets\Habitat (4).png" class="img-fluid d-block">
                </div>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
            
        
        <br>
        <div class="jumbotron">
            <h1 class="display-4">Bem vindos a página de eventos E-coleta</h1>
            <p class="lead">Precisamos da sua ajuda para mudar o mundo para melhor! venha fazer parte da equipe E-coleta, e ajude o meio ambiente a vida marinha!.</p>
            <hr class="my-4">
            <p>Clique no botão abaixo para acessar nosso contato.</p>
            
            <a class="btn btn-success btn-lg" href="http://api.whatsapp.com/send?phone=5519996792460" role="button">marque seu evento conosco</a>
          </div>
          <br><br>
        
          <div class="card-group">
    
              <div class="card">
                <img class="card-img-top" src="assets\Habitat (4).png" alt="Imagem de capa do card">
                <div class="card-body">
              </div>

              <div class="card">
                <img class="card-img-top" src="assets\up.png" alt="Imagem de capa do card">
                <div class="card-body">
              </div>
          </div>
        
    
    


