


<div class="container-fluid bg-light">
 
    <div class="d-flex justify-content-center">
    <p class="fs-6"></p>
    </div>
    <div class="row">
      
      <!--Primeira Camada-->
      <!--Espaçao do menu-->
        <div class="col-3">
  


            <app-barra-lateral></app-barra-lateral>
         



        </div>
        
        
        
        
        
        
        
            <!--Segunda Camada-->      
            <div class="col-9 ">
           <div class="row">
        <div class="col-7 retangulo card11"> 
    
          
     
          
            
            <div class="row">
              <div class="col-1">
                <img class="foto" src="https://avatars.githubusercontent.com/u/63822714?v=4" alt="" width="50px"height="50px">
              </div>
              <div class="col-11">
            <div class="card-body "> 
              <div class="centralizar-card">

              <div class="card-cinza bg-light">
              <p class="card-text"></p>
              
            </div>
             
            </div>
            <div class="row">
              <div class="col-2"></div>
              <div class="col-1"></div>
              <div class="box-dos-icons">
            <i class="fas fa-address-card"></i></div>
              <div class="col-6">
            <p>Escrever postagem</p></div>
          </div>
        
        </div>
            </div> 

      

              </div>


          </div>
        </div> <div class="separacao-boxs"></div>
       
       
      
          
        

    <div class="row ">
    <div class="col-7 ">  
      <div class="postagens-amigos">
         
        <div class="row">
          <div class="col-1"><img src="https://avatars.githubusercontent.com/u/63822714?v=4" alt="" width="40px" class="foto"></div>
          <div class="col-10 nome-amigo">  
              <div class="row">
                <div class="col-md-1"></div> <p> Nome do amigo</p>
              </div>
           
         <div class="texto-post d-flex justify-content-center align-items-center">
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, molestias obcaecati! Eaque distinctio perspiciatis, beatae inventore quia reprehenderit accusantium consequatur temporibus optio laborum magni veniam rerum quae consequuntur nostrum unde!</p>
         </div>
         <div 
         class="cotainer-imagem-amigo">
         <img class="imagem-amigo d-flex justify-content-center"src="https://st2.depositphotos.com/3357017/5329/v/600/depositphotos_53294829-stock-illustration-ecology-concept-vector.jpg" alt="">
        </div>
        </div>
      </div>
        
          <div class="col-3">
          <hr>
          </div>
      
      </div>
      </div>
    </div> 
</div>


            </div>