
.body{
   background-color: hsl(110, 66%, 94%);
   height: 100%;
}


@media(max-width:1500px){

}

.card{
    width: 100%;
    height: 2rem;
  
}

.bottom1{
    background: #123417;
}
.bottom1:hover{
    background:rgb(77, 253, 183);
}

.separacao{
    height: 1rem;
}

.card-cinza{

    border-radius: 15px;
    min-height:3rem;
    border: solid 1px hsl(110, 66%, 94%); ;
    width: 80%;
}
.centralizar-card{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.card11{ 
    background:white;
    
    border-radius: 15px;

}
.foto{
    border-radius: 50px;
    margin-top:1rem;    
    margin-left: 1rem;
}
i{
    
    display: flex;
    margin-top:0.2rem ;
}

.box-dos-icons{
    margin-top:1rem
} p{
    margin-top: 1.2rem;
    font-size: 0.7rem;
}

.separacao-boxs{
    height:3%
}
.postagens-amigos{
    width: 100%;
    background:white;
    border-radius: 15px;

    height:15rem;
    

}
.separar{
    height:1rem;
}
.nome-amigo{
    margin-top:0.3rem;
   
    font-family:bold;
}
.imagem-amigo{
    width: 100%;  
     margin-left:15rem;
}
.cotainer-imagem-amigo{
    display: flex;
    justify-content: center;
  
    width: 10rem;  
}

   a {
    background:rgb(77, 253, 183);
    color: white;
    border: white;
   }
   .card-cinza{
       height: 1rem;
   }
   .texto-postagem{
    font-size: 5rem;
   }

   .quadrado3{
       width: 9rem;
       background-color:purple;
   }
   .input{
      margin-top: 1rem;
       width:20rem;
        font-size:10px;
        border-radius: 10px;
   }

   .box-input{
        width:100%;   
        background:white;
        /* margin-right: 1rem; */
        border-radius:10px;

   }
  
   i{
       font-size:2rem
   }

   .retangulo{
  
       max-height: 11rem;
   }

.text11{
    font-size:2rem;
}