


<div class="container-fluid body">
 
    <div class="d-flex justify-content-center">
    <p class="fs-6">Olá nome do usuário</p>
    </div>
    <div class="row">
      
      <!--Primeira Camada-->
      <!--Espaçao do menu-->
        <div class="col-3">
  


            <app-barra-lateral></app-barra-lateral>
         



        </div>
        
        
        
        
        
        
        
            <!--Segunda Camada-->      
            <div class="col-9">
           <div class="row">
        <div class="col-7"> 
    
            Postagens
            <div class="jumbotron jumbotron-fluid cor-jubotron card">
                <div class="container">
                 

                    <div class="jumbotron jumbotron-fluid body"style="border-radius:4%">
                        <div class="container" >
                        
                          <p class="lead"></p>
                        </div>

                        

                      </div>
                      <div class="d-flex justify-content-end ">
                   
                    </div>



                  <p class="lead">











                  </p>
                </div>
              </div>



              <div class="jumbotron jumbotron-fluid cor-jubotron card">
                <div class="container">
                 

                    <div class="jumbotron jumbotron-fluid body"style="border-radius:4%">
                        <div class="container" >
                        
                          <p class="lead"></p>
                        </div>

                        

                      </div>
                     
                      
                      <div> 
                   



                      
                    


                    </div>



                  <p class="lead">


                








                  </p>
                </div>
              </div>


            
           </div>









           <!-- Ultima camada-->
           <div class="col-5">
            Talvez voce goste...
           <div class="jumbotron jumbotron-fluid cor-jubotron card card-final">
               <div class="container">
                

                   <div class="jumbotron jumbotron-fluid body"style="border-radius:4%">
                       <div class="container">
                       
                         <p class="lead"></p>
                       </div>

                       

                     </div>
                     <div class="d-flex justify-content-end ">
                  
                   </div>



                 <p class="lead">











                 </p>




                 
               </div>





               







             </div>
           



             <div class="jumbotron jumbotron-fluid cor-jubotron card card-final">
                <div class="container">
                 
 
                    <div class="jumbotron jumbotron-fluid body"style="border-radius:4%">
                        <div class="container">
                        
                          <p class="lead"></p>
                        </div>
 
                        
 
                      </div>
                      <div class="d-flex justify-content-end ">
                   
                    </div>
 
 
 
                  <p class="lead">
 
 
 
 
 
 
 
 
 
 
 
                  </p>
 
 
 
 
                  
                </div>
 
 
 
 
 
 
                
 
 
 
 
 
 
 
              </div>
          </div>






                  



</div>
    </div>

    
</div></div>
